[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autologging = "*"
pytest-watch = "*"
mypy = "*"
black = "*"

[packages]
gym = "*"
click = "*"
numpy = "*"

[requires]
python_version = "3.7"
